.card{
    background-color:beige;
}
.card-text{
    color:green;
    font-weight: 800;
}
body{
    background-color:azure;
}
.card-title{
    color: black;
    font-weight: lighter;
    font-weight: bold;
}
.pagination{
    margin-top: 100px;
}